<section class="neo-container">
  <app-neo-logo></app-neo-logo>
  <div class="position-fixed"><mat-spinner *ngIf="dataRequestInProgress" class="position-fixed"></mat-spinner></div>
  <h1>Confirm your purchase</h1>
  <mat-list>
    <mat-list-item>
      <strong>Buying Amount:&nbsp;</strong>
      <span matPrefix>£&nbsp;</span>
      <span>{{data.buyAmount}}</span>
    </mat-list-item>

    <mat-list-item>
      <strong>Selling Amount:&nbsp;</strong>
      <span matPrefix>€&nbsp;</span>
      <span>{{data.sellAmount}}</span>
    </mat-list-item>
    <mat-list-item>
      <small class="fx-rate">
        Rate: <small>GBP</small> £1 = €{{ data.rate | number : '1.4' }} <small>EUR</small>
      </small>
    </mat-list-item>
    <div class="form-actions">
      <button class="button-left" mat-raised-button color="warn" (click)="cancel()" [disabled]="dataRequestInProgress">Cancel</button>
      <button class="button-right" mat-raised-button color="primary" (click)="confirm()" [disabled]="dataRequestInProgress">Confirm</button>
    </div>
  </mat-list>

</section>
