<svg width="100px" height="20px" viewBox="0 20 100 30" class="logo" role="img" aria-label="Neo">
  <title>Neo</title>
  <defs>
    <linearGradient x1="86.7619656%" y1="13.7598567%" x2="2.77309673%" y2="94.1867563%" id="linearGradient-1">
      <stop stop-color="#FFD500" offset="0%"></stop>
      <stop stop-color="#FFD500" offset="18.339349%"></stop>
      <stop stop-color="#F39200" offset="100%"></stop>
    </linearGradient>
    <linearGradient x1="13.2392701%" y1="86.2407003%" x2="97.2253106%" y2="5.81320468%" id="linearGradient-2">
      <stop stop-color="#FFD500" offset="0%"></stop>
      <stop stop-color="#FFD500" offset="18.339349%"></stop>
      <stop stop-color="#F39200" offset="100%"></stop>
    </linearGradient>
  </defs>
  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="NEO-logo" fill-rule="nonzero">
      <g id="NEO-letters" transform="translate(50.000000, 49.500000) scale(-1, 1) rotate(-180.000000) translate(-50.000000, -49.500000) translate(10.000000, 19.000000)">
        <g id="NEO" transform="translate(0.837979, 29.887669)">
          <g id="O" transform="translate(48.817605, 0.123691)">
            <g id="ring">
              <path d="M14.8386824,23.3179295 C10.2238522,23.3179295 6.46966554,19.5633896 6.46966554,14.9485593 C6.46966554,10.3333758 10.2238522,6.57883584 14.8386824,6.57883584 C19.453866,6.57883584 23.2080526,10.3333758 23.2080526,14.9485593 C23.2080526,19.5633896 19.453866,23.3179295 14.8386824,23.3179295 M14.8386824,0.190429758 C6.70143162,0.190429758 0.0809061494,6.81095523 0.0809061494,14.9485593 C0.0809061494,23.0858101 6.70143162,29.7063356 14.8386824,29.7063356 C22.9762865,29.7063356 29.5964587,23.0858101 29.5964587,14.9485593 C29.5964587,6.81095523 22.9762865,0.190429758 14.8386824,0.190429758" fill="#FFD500"></path>
              <path d="M5.92971415,11.6508035 C5.92971415,5.5863753 10.845911,0.670531795 16.9096325,0.670531795 L16.9096325,0.670531795 C17.9638856,0.670531795 18.9817485,0.822451639 19.9466162,1.09944038 L19.9466162,1.09944038 C21.495492,1.67249616 22.9224786,2.49957605 24.1770539,3.52839137 L24.1770539,3.52839137 L22.1165969,10.814891 C20.6747716,8.28524899 17.9529332,6.5756208 14.839283,6.5756208 L14.839283,6.5756208 C10.2240995,6.5756208 6.46920624,10.3301608 6.46920624,14.944991 L6.46920624,14.944991 C6.46920624,14.9877405 6.46955955,15.0287236 6.47026615,15.0707665 L6.47026615,15.0707665 C6.11767079,13.9942554 5.92971415,12.8453174 5.92971415,11.6508035" id="Bottom-swirl" fill="url(#linearGradient-1)"></path>
              <path d="M9.72735694,28.7926614 C8.17777454,28.2192523 6.75043461,27.3918191 5.49444613,26.3619439 L5.49444613,26.3619439 L7.55631638,19.0715579 C8.99849499,21.6029665 11.7224531,23.3133013 14.8378698,23.3133013 L14.8378698,23.3133013 C19.4555265,23.3133013 23.2121862,19.5569948 23.2121862,14.9393382 L23.2121862,14.9393382 C23.2121862,14.8965886 23.2121862,14.8556056 23.2114796,14.8135627 L23.2114796,14.8135627 C23.5644283,15.8907803 23.7523849,17.0400716 23.7523849,18.2352922 L23.7523849,18.2352922 C23.7523849,24.3029001 18.8333617,29.22157 12.7657538,29.22157 L12.7657538,29.22157 C11.7111475,29.22157 10.6929312,29.0700034 9.72735694,28.7926614" id="Top-swirl" fill="url(#linearGradient-2)"></path>
            </g>
          </g>
          <path d="M26.7626237,26.5073277 L45.3600857,26.5073277 L45.3600857,21.6819295 L32.1515385,21.6819295 L32.1515385,17.0639195 L41.8903071,17.0639195 L41.8903071,12.238168 L32.1515385,12.238168 L32.1515385,11.8544821 C32.1515385,8.99520929 34.469906,6.67684181 37.3295321,6.67684181 L46.921327,6.67684181 L46.921327,1.8514436 L35.9279832,1.8514436 C30.866226,1.8514436 26.7626237,5.9550459 26.7626237,11.0168031 L26.7626237,26.5073277 Z" id="E" fill="#485A63"></path>
          <path d="M0.200816835,26.5073277 L0.200816835,26.5073277 C3.35227034,26.5073277 6.32283324,25.0351184 8.23137044,22.5270278 L16.7551336,11.3262956 L16.7551336,26.5073277 L22.1094248,26.5073277 L22.1094248,1.8514436 C19.2017497,1.8514436 16.4608331,3.20882974 14.6989162,5.52189769 L5.55475478,17.5253319 L5.55475478,1.8514436 L0.200816835,1.8514436 L0.200816835,26.5073277 Z" id="N" fill="#485A63"></path>
        </g>
      </g>
    </g>
  </g>
</svg>
