<form class="trade-container" [formGroup]="formGroup">
  <mat-list>
    <mat-list-item>
      <strong>Exchange €EUR for £GBP</strong>
    </mat-list-item>
    <mat-list-item>
      <span class="fx-rate">
        Rate: <small>GBP</small> £1 = €{{ currentPrice | number : '1.4' }} <small>EUR</small>
      </span>
    </mat-list-item>
    <mat-list-item>
      <mat-form-field>
        <span matPrefix>£&nbsp;</span>
        <input matInput name="buyAmount" type="number" placeholder="Amount to buy"
               formControlName="buyAmount">
      </mat-form-field>
    </mat-list-item>

    <mat-list-item>
      <mat-form-field>
        <span matPrefix>€&nbsp;</span>
        <input matInput name="sellAmount" type="number"
               placeholder="Amount to sell"
               formControlName="sellAmount">
      </mat-form-field>
    </mat-list-item>

  </mat-list>
  <div class="form-actions">
    <button class="button-left" mat-raised-button color="warn" routerLink="/">Back</button>
    <button class="button-right" mat-raised-button color="primary" (click)="submit()">Buy £</button>
  </div>
</form>
