tr {
  margin: 0;padding: 0;
}
td {
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  text-align: center;
  transition: background-color 500ms;
}

td:hover {
  transition: background-color 500ms;
  background-color: bisque;
}
.flagged {
  background-color: darkgreen;
}
.flagged:hover {
  background-color: darkgreen;
}

.opened {
  background-color: beige;
}
